@tailwind base;
@tailwind components;
@tailwind utilities;

body { @apply bg-[#121212] text-white antialiased; font-family: 'Inter', sans-serif; overflow-x: hidden; }
.btn-calc { @apply h-16 rounded-2xl flex items-center justify-center text-2xl font-bold transition-all active:scale-95; }