@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#121212] text-white antialiased;
    -webkit-tap-highlight-color: transparent;
    user-select: none; /* Empêche la sélection de texte style application native */
  }
}

/* Personnalisation de la Scrollbar (Style Moderne) */
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 10px;
}

/* Animation de transition entre les sections */
.page-transition {
  animation: fadeInSlide 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes fadeInSlide {
  from {
    opacity: 0;
    transform: translateY(8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Style des boutons pour un effet tactile */
.btn-press {
  @apply transition-transform active:scale-95;
}
